[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.13.2"
geoalchemy2 = "==0.15.2"
python-dotenv = "==1.0.1"
psycopg2 = "==2.9.9"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.5"
